<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.dosirak.admin.customer.model.dao.CustomerMapper">

    <!-- 문의 대분류 -->

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AskCategoryDTO" id="askCategoryResultMap">
        <id property="askCategoryCode" column="ask_category_code"/>
        <result property="askCategoryName" column="ask_category_name"/>
    </resultMap>

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AskCategoryDTO" id="adminResultMap">
        <id property="adminId" column="admin_id"/>
    </resultMap>

    <!-- 공지사항 페이지 -->

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.NoticeDTO" id="generalNoticeResultMap" >
        <id property="noticeCode" column="notice_code"/>
        <result property="adminId" column="admin_id"/>
        <result property="noticeDate" column="notice_date"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeContent" column="notice_content"/>
    </resultMap>

    <select id="findNoticeList" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.NoticeDTO">
        SELECT
            notice_code,
            notice_title,
            notice_date,
            admin_id
        FROM
            notice
        ORDER BY
            notice_code desc
    </select>

    <select id="searchNoticeDetail" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.NoticeDTO">
        SELECT
            notice_code,
            admin_id,
            notice_date,
            notice_title,
            notice_content
        FROM
            notice
        WHERE
            notice_code = #{ noticeCode }
    </select>

    <insert id="insertNotice">
        INSERT
        INTO notice
            (notice_title, notice_content, notice_date, admin_id)
        VALUE
            (#{ noticeTitle }, #{ noticeContent }, NOW(), #{ adminId })
    </insert>

    <delete id="deleteNotice">
        DELETE FROM notice
        WHERE notice_code = #{ noticeCode }
    </delete>

    <update id="updateNotice">
        UPDATE notice
        SET notice_title = #{ noticeTitle },
            notice_content = #{ noticeContent }
        WHERE notice_code = #{ noticeCode }
    </update>

    <!-- 자주 묻는 질문 페이지 -->

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.QnaDTO" id="generalQnaResultMap">
        <id property="qnaCode" column="qna_code"/>
        <result property="qnaTitle" column="qna_title"/>
        <result property="qnaAnswer" column="qna_answer"/>
        <result property="adminId" column="admin_id"/>
        <association property="askCategoryDTO" resultMap="askCategoryResultMap"/>
    </resultMap>

    <select id="findQnaList" resultMap="generalQnaResultMap">
        SELECT
            *
        FROM
            qna a
        JOIN
            ask_category b ON (a.ask_category_code = b.ask_category_code)
        ORDER BY
            a.qna_code DESC
    </select>

    <select id="searchQnaDetail" resultMap="generalQnaResultMap">
        SELECT
            a.qna_code,
            a.admin_id,
            b.ask_category_name,
            a.qna_title,
            a.qna_answer
        FROM
            qna a
        JOIN
            ask_category b ON (a.ask_category_code = b.ask_category_code)
        WHERE
            qna_code = #{ qnaCode }
    </select>

    <insert id="insertQna">
    INSERT INTO qna
        (ask_category_code, qna_title, qna_answer, admin_id)
    VALUE
        (#{ askCategoryCode }, #{ qnaTitle }, #{ qnaAnswer }, #{ adminId })
    </insert>

    <delete id="deleteQna">
        DELETE FROM
            qna
        WHERE
            qna_code = #{ qnaCode }
    </delete>

    <!-- 자주 묻는 질문 수정 (카테고리 변경 후, 내용 업데이트) -->

    <update id="updateQnaCategory">
        UPDATE
            qna
        SET
            ask_category_code = #{ askCategoryCode }
        WHERE
            qna_code = #{ qnaCode }
    </update>

    <update id="updateQna">
        UPDATE
            qna
        SET
            ask_category_code = #{ askCategoryCode },
            qna_title = #{ qnaTitle },
            qna_answer = #{ qnaAnswer }
        WHERE
            qna_code = #{ qnaCode }
    </update>

    <!-- 1대1 문의 페이지 -->

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AskDTO" id="generalAskResultMap">
        <id property="askCode" column="ask_code"/>
        <result property="askTitle" column="ask_title"/>
        <result property="askContent" column="ask_content"/>
        <result property="askDate" column="ask_date"/>
        <result property="userId" column="user_id"/>
        <result property="askDelete" column="ask_delete"/>
        <association property="askCategoryDTO" resultMap="askCategoryResultMap"/>
        <association property="answerDTO" resultMap="answerResultMap"/>
        <association property="imgDTO" resultMap="imgResultMap"/>
    </resultMap>

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AnswerDTO" id="answerResultMap">
        <id property="answerCode" column="answer_code"/>
        <result property="answerStatus" column="answer_status"/>
        <result property="adminId" column="admin_id"/>
        <result property="answerDate" column="answer_date"/>
        <result property="answerContent" column="answer_content"/>
        <association property="askCategoryDTO" resultMap="askCategoryResultMap"/>
    </resultMap>

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.AskDTO" id="askResultMap">
        <id property="askCode" column="ask_code"/>
    </resultMap>

    <resultMap type="com.ohgiraffers.dosirak.admin.customer.model.dto.ImgDTO" id="imgResultMap">
        <id property="imgCode" column="img_code"/>
    </resultMap>

    <select id="findAllAskList" resultMap="generalAskResultMap">
        select
            *
        from
            ask a
        join
            ask_category b on (b.ask_category_code = a.ask_category_code)
        left join
            answer c on (c.ask_code = a.ask_code)
        order by
            a.ask_code desc
    </select>

    <select id="searchAskDetail" resultMap="generalAskResultMap">
        select
            *
        from
            ask a
        join
            ask_category b on (b.ask_category_code = a.ask_category_code)
        left join
            answer c on (c.ask_code = a.ask_code)
        where
            a.ask_code = #{ askCode }
    </select>

    <select id="searchAnswerDetail" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.AnswerDTO">
        SELECT
            answer_code,
            admin_id,
            answer_date,
            answer_content
        FROM
            answer
        WHERE
            ask_code = #{ askCode }
    </select>

    <select id="findCategoryList" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.AskCategoryDTO">
        SELECT
            *
        FROM
            ask_category
    </select>

    <insert id="insertAnswer">
        INSERT INTO
            answer
            (ask_code, admin_id, answer_status, answer_content, answer_date)
        VALUES
            (#{ askCode }, #{ adminId }, 1, #{ answerContent }, NOW())
    </insert>

    <update id="updateAskCategory">
        UPDATE
            ask
        SET
            ask_category_code = #{ askCategoryCode }
        WHERE
            ask_code = #{ askCode }
    </update>

    <select id="searchImageList" resultType="com.ohgiraffers.dosirak.admin.customer.model.dto.ImgDTO">
        SELECT
            *
        FROM
            CUSTOMER_IMG
        WHERE
            ref_ask_code = #{ ref_ask_code }
    </select>


</mapper>