<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <th:block th:replace="/user/common/head.html"></th:block>
    <link rel="stylesheet" href="/user/css/cart.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        .none {
            width: 100px;
            border: none;
            min-height: auto;
        }

        .none:focus {
            background: none !important;
        }

        .none:focus-visible {
            outline: none;
        }
    </style>
</head>
<body>
<div class="ly_all bl_all">
    <th:block th:replace="/user/common/header.html"></th:block>
    <div class="ly_maxWD ly_inner02">
        <h2 class="el_lv1Head">장바구니</h2>
        <div class="flex_box hp_relative hp_mt50">
            <form action="/user/payment" method="post">
                <div class="bl_cartList">
                    <table class="bl_TBList">
                        <caption class="WA">검색</caption>
                        <colgroup>
                            <col style="width:150px"/>
                            <col style="width:*"/>
                            <col style="width:150px"/>
                            <col style="width:150px"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">
                                <label class="bl_checkBx hp_w100">
                                    <input type="checkbox" class="bl_checkBx__input checkAll" checked>
                                    <span class="bl_checkBx__check"></span>
                                </label>
                            </th>
                            <th scope="col" colspan="2" style="padding-right: 80px">상품명</th>
                            <th scope="col">상품가격</th>
                            <th scope="col">상품개수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <span th:each="cart : ${ cartDTO }">
                                    <span id="cartList" th:if="${cartDTO.size() != 0}">
                                        <!-- 장바구니에 추가 된 상품이 일반 상품 일 경우 출력 -->
                                        <span th:if="${cart.productCode != 0}">
                                            <tr class="hidden_block js_productRow productRow"
                                                th:id="|p${cart.productCode}|"
                                                th:data-product-code="${cart.productCode}">
                                        </span>
                                        <!-- 장바구니에 추가 된 상품이 맞춤 상품 일 경우 출력 -->
                                        <span th:if="${cart.suitbox != null}">
                                            <tr class="hidden_block js_productRow suitboxRow"
                                                th:id="|s${cart.suitbox.suitboxCode}|"
                                                th:data-suitbox-code="${ cart.suitbox.suitboxCode }">
                                        </span>
                                        <td>
                                            <input th:if="${cart.productCode != 0}" type="hidden">
                                            <input th:if="${cart.suitbox != null}" type="hidden">
                                            <label class="bl_checkBx hp_w100">
                                                <input th:if="${cart.productCode != 0}" type="checkbox"
                                                       class="bl_checkBx__input checkOne"
                                                       th:value="${cart.productCode}"
                                                       th:name="|product${cart.productCode}|" checked>
                                                <input th:if="${cart.suitbox != null}" type="checkbox"
                                                       class="bl_checkBx__input checkOne"
                                                       th:value="${cart.suitbox.suitboxCode}"
                                                       th:name="|suitbox${cart.suitbox.suitboxCode}|" checked>
                                                <span class="bl_checkBx__check"></span>
                                            </label>
                                        </td>
                                        <td class="bl_TBList__ttl">
                                            <a class="ly_flexC ly_fitemC" href="">
                                                <!-- 이미지 보수 필요 -->
                                                <img th:if="${cart.productCode != 0}" class="bl_TBList__orderImg"
                                                     th:src="${cart.savePath}" alt="food"/>
                                                <img th:if="${cart.suitbox != null}" class="bl_TBList__orderImg"
                                                     src="/suitboxUpload/original/suitbox.jpg" alt="food"/>
                                                <p th:if="${cart.productCode != 0}" class="hp_ellipsis hp_ellipsis3"
                                                   th:text="${ cart.productName }"></p>
                                                <p th:if="${cart.suitbox != null}" class="hp_ellipsis hp_ellipsis3">맞춤 도시락</p>
                                            </a>
                                        </td>
                                        <td>
                                            <span th:if="${cart.suitbox != null}" style="color: gray;">
                                                <p th:text="|${cart.detailSuitBox.rice.getMenuName()}/${cart.detailSuitBox.main.getMenuName()}|"></p>
                                                <p th:text="|${cart.detailSuitBox.side.getMenuName()}/${cart.detailSuitBox.kimchi.getMenuName()}|"></p>
                                            </span>
                                        </td>
                                        <td class="price">
                                            <input th:if="${cart.productCode != 0}"
                                                   class="none js_productPrice hp_alignC" type="number"
                                                   readonly th:value="${cart.productPrice}"/>
                                            <input th:if="${cart.suitbox != null}"
                                                   class="none js_productPrice hp_alignC" type="number"
                                                   readonly
                                                   th:value="${cart.detailSuitBox.rice.getMenuExtracash() +
                                                        cart.detailSuitBox.main.getMenuExtracash() + cart.detailSuitBox.side.getMenuExtracash() + cart.detailSuitBox.kimchi.getMenuExtracash() + 7000}"/>
                                        </td>
                                        <td>
                                            <div class="di_btn">
                                                <div id="decrease" class="decrease"><img src="/user/img/icon/minus.png"
                                                                                         alt="minus-btn"></div>
                                                <input type="text" id="cartitemCount"
                                                       class="quantity js_productQuantity"
                                                       th:value="${ cart.cartitemCount }">
                                                <div id="increase" class="increase"><img src="/user/img/icon/plus.png"
                                                                                         alt="plus-btn"></div>
                                            </div>
                                        </td>
                                        </tr>
                                    </span>
                                </span>
                        <tr>
                            <td class="bl_TBList__empty" colspan="5" th:if="${cartDTO.size() == 0}">
                                <span><img th:src="@{/user/img/icon/bento.png}" alt="bento"/></span>
                                <p>주문내역이 없습니다.</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="delete_btn">
                        <button type="button" class="deleteBtn">선택 삭제</button>
                    </div>
                </div>
                <div class="sticky bl_cartBox hp_bordDE hp_padding30">
                    <ul class="bl_orderCancel">
                        <li class="ly_spaceBetween ly_fitemC">
                            <p class="bl_orderCancel__ttl">총 상품금액</p>
                            <p class="bl_orderCancel__price"><input class="none js_productSum hp_alignR"
                                                                    type="number" value="0" readonly/> 원</p>
                        </li>
                        <li class="ly_spaceBetween ly_fitemC">
                            <p class="bl_orderCancel__ttl">배송비</p>
                            <p class="bl_orderCancel__price"><input class="none js_charge hp_alignR" type="number"
                                                                    value="0" readonly/> 원</p>
                        </li>
                        <li class="ly_spaceBetween ly_fitemC bl_orderCancel__total hp_bordDashTDE2 hp_pt30 hp_mt30">
                            <p class="bl_orderCancel__ttl hp_fs18 hp_fw700 hp_0Color">주문 예상금액</p>
                            <p class="bl_orderCancel__price hp_fs18 hp_fw700 hp_pointColor"><input
                                    class="none js_total hp_alignR hp_fs18 hp_fw700 hp_pointColor" type="number"
                                    value="0" readonly/> 원</p>
                        </li>
                    </ul>
                    <button class="el_btnM hp_br5 el_btnPointBack hp_w100 hp_mt30" type="submit">구매하기</button>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="/user/common/footer.html"></th:block>
</div>
<script src="/user/js/cart.js"></script>
</body>

</html>