<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark justify-content-between">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/admin/main">도/시/樂</a>
    <!-- Sidebar Toggle-->
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 align-items-center">
        <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-sign-out fa-fw"></i></a>
        </li>
        <li class="nav-item">
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        </li>
    </ul>
</nav>