<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
    <script>
        const message = '[[${message}]]';
        message && alert(message);

        $(function(){
            $("#datatablesSimple tbody tr").click(function(){
                let txtId = $("td:nth-of-type(1)", this).text();
                location.href = "/admin/member/memberView?id="+txtId;
            })

            $(".searchMemBtn").click(function(){
                let condition = $(".searchCondition").val();
                let value = $(".searchValue").val();

                let searchUrl = "";

                if (condition != null && condition != "" && value != null && value != "") {
                    searchUrl = "?searchCondition=" + condition + "&searchValue=" + value;
                } else if (condition != null && condition != "") {
                    searchUrl = "?searchCondition=" + condition;
                } else if (value != null && value != "") {
                    searchUrl = "?searchValue=" + value;
                }

                location.href = "/admin/member/memberList" + searchUrl;
            })

            // url 가져와서 다시 검색조건 넣기
            const urlCondition = new URL(location.href).searchParams.get("searchCondition");
            const urlValue = new URL(location.href).searchParams.get("searchValue");

            if(urlCondition != null) $(".searchCondition").val(urlCondition);
            if(urlValue != null) $(".searchValue").val(urlValue);
        })
    </script>
</head>
<body>
<body class="sb-nav-fixed">
<th:block th:replace="/admin/common/header.html"></th:block>
<div id="layoutSidenav">
    <th:block th:replace="/admin/common/sideNav.html"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">회원 목록</h1>
                <div class="card mb-4 mt-4">
                    <div class="card-header justify-content-between d-flex align-items-center">
                        <i class="fas fa-table me-1"></i>
                        <div class="d-none d-md-inline-block form-inline ms-auto me-0 my-2 my-md-0">
                            <div class="input-group">
                                <select class="searchCondition datatable-selector" name="searchCondition">
                                    <option value="">검색조건 선택</option>
                                    <option value="id">아이디</option>
                                    <option value="name">이름</option>
                                    <option value="phone">휴대폰번호</option>
                                    <option value="email">이메일</option>
                                </select>
                                <input class="searchValue form-control" type="text" name="searchValue" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                                <button type="button" class="btn btn-primary searchMemBtn"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>생년월일</th>
                                <th>성별</th>
                                <th>휴대폰번호</th>
                                <th>이메일</th>
                                <th>마케팅동의</th>
                                <th>가입일자</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="member : ${memberList}">
                                <td th:text="${member.id}"></td>
                                <td th:text="${member.name}"></td>
                                <td th:text="${member.birth}"></td>
                                <td th:text="${member.gender}"></td>
                                <td th:text="${member.phone}"></td>
                                <td th:text="${member.email}"></td>
                                <td th:text="${member.agree}"></td>
                                <td th:text="${member.joindate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="/admin/common/foot.html"></th:block>
</body>
</html>