<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="/admin/common/head.html"></th:block>
</head>
<body>
<th:block th:replace="/admin/common/header.html"></th:block>

<div id="layoutSidenav">
    <th:block th:replace="/admin/common/sideNav.html"></th:block>

    <!-- layoutSidenav_nav -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">상품 상세보기</h1>
                <form action="#" th:action="@{/saveProduct}" method="post">
                    <table class="datatable-table mt-4">
                        <colgroup>
                            <col style="width:200px" />
                            <col style="width:200px" />
                        </colgroup>
                        <tbody>
                        <!-- 보기, 수정 -->
                        <tr>
                            <th scope="">상품코드</th>
                            <td colspan="3" >1</td>
                        </tr>
                        <!-- // 보기, 수정 -->
                        <tr >
                            <th scope="row">상품이름</th>
                            <td colspan="3"><input type="text"  /></td>
                        </tr>
                        <tr>
                            <th scope="row">판매상태</th>
                            <td>
                                <select class="datatable-selector" name="productStatus">
                                    <option value="">판매상태 선택</option>
                                    <option value="판매준비중" >판매준비중</option>
                                    <option value="판매중" >판매중</option>
                                    <option value="절판" >절판</option>
                                    <option value="판매중단" >판매중단</option>
                                </select>
                            </td>
                            <th scope="row">상품가격</th>
                            <td ><input type="text"   /></td>
                        </tr>
                        <tr>
                            <th scope="row">상품분류</th>
                            <td colspan="3" >
                                <select class="datatable-selector1"  >
                                    <option value="NONE">상품분류 선택</option>
                                    <option value="1" >건강도시락</option>
                                    <option value="2" >정성도시락</option>
                                    <option value="3" >간편식</option>
                                </select>

                                <select class="datatable-selector2"  >
                                    <option value="">소분류 선택</option>
                                    <option value="1" >암환자회복식단</option>
                                    <option value="2" >신장관리식단</option>
                                    <option value="3" >혈압관리식단</option>
                                    <option value="4" >혈당관리식단</option>
                                </select>

                                <select class="datatable-selector3"  >
                                    <option value="">소분류 선택</option>
                                    <option value="5" >샐러드</option>
                                    <option value="6" >닭가슴살</option>
                                </select>

                                <script th:inline="javascript">
                                    /*<![CDATA[*/
                                    document.addEventListener('DOMContentLoaded', function () {
                                        const selector1 = document.querySelector('.datatable-selector1');
                                        const selector2 = document.querySelector('.datatable-selector2');
                                        const selector3 = document.querySelector('.datatable-selector3');

                                        selector1.addEventListener('change', function () {
                                            const selectedValue = selector1.value;

                                            if (selectedValue === '1') {
                                                selector2.style.display = 'block';
                                                selector3.style.display = 'none';
                                            } else if (selectedValue === '3') {
                                                selector2.style.display = 'none';
                                                selector3.style.display = 'block';
                                            } else {
                                                selector2.style.display = 'none';
                                                selector3.style.display = 'none';
                                            }
                                        });
                                        selector2.style.display = 'none';
                                        selector3.style.display = 'none';
                                    });
                                    /*]]>*/
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">한줄설명</th>
                            <td  colspan="3">
                                <input type="text"  />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">파일첨부</th>
                            <td colspan="3"><input type="file" /></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="editBtn" style="text-align: right;">
                        <button type="submit" class="btn btn-primary">수정</button>
                        <button type="button" class="btn btn-secondary">삭제</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#infoManage" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    회원정보 관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="infoManage" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/admin/member/memberList">회원 관리</a>
                        <a class="nav-link" href="/admin/member/managerList">관리자 관리</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#QManage" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    문의 관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="QManage" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/html/customer/noticeList.html">공지사항 관리</a>
                        <a class="nav-link" href="/html/customer/askList.html">1대1문의 관리</a>
                        <a class="nav-link" href="/html/customer/qnaList.html">자주묻는질문 관리</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#itemManage" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    상품 관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="itemManage" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="">상품 관리</a>
                        <a class="nav-link" href="">안내정보 관리</a>
                    </nav>
                </div>
                <a class="nav-link" href="/project/charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    리뷰 관리
                </a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#orderManage" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    주문 관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="orderManage" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="">결제 관리</a>
                        <a class="nav-link" href="">배송 관리</a>
                    </nav>
                </div>
                <a class="nav-link" href="/project/charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    설문 관리
                </a>
            </div>
        </div>
    </nav>
</div>
<th:block th:replace="/admin/common/foot.html"></th:block>
</body>

</html>
