<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자주 묻는 질문 관리페이지</title>
    <th:block th:replace="~{/admin/common/head.html}"></th:block>
</head>
<body class="sb-nav-fixed">
<th:block th:replace="~{/admin/common/header.html}"></th:block>
<div id="layoutSidenav">
    <th:block th:replace="~{/admin/common/sideNav.html}"></th:block>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h2 class="mt-4">자주 묻는 질문 등록</h2>
                <form id="qnaWrite" action="/admin/customer/qnaWrite" method="post">
                <table class="datatable-table mt-4">
                    <colgroup>
                        <col style="width:15%"/>
                        <col style="width:*%"/>
                        <col style="width:*%"/>
                    </colgroup>
                    <tbody>
                    <!-- 글 새로 작성 시 -->
                    <tr>
                        <th scope="row"><label for="">질문유형</label></th>
                        <td colspan="3">
                            <select class="datatable-selector" name="askCategoryCode">
                                <option value="0">문의분류 선택</option>
                                <option value="1">회원</option>
                                <option value="2">주문/결제</option>
                                <option value="3">배송/반품</option>
                                <option value="4">취소/교환/환불</option>
                                <option value="5">서비스/기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="">질문제목</label></th>
                        <td colspan="3"><input name="qnaTitle" class="hp_wd100" id="" type="text" placeholder="제목 입력"/></td>
                    </tr>
                    <tr>
                        <th scope="row"><label for="">답변내용</label></th>
                        <td colspan="3">
                            <label>
                                <textarea name="qnaAnswer" class="hp_wd100 hp_minH500" placeholder="내용 입력"></textarea>
                            </label></td>
                    </tr>
                    </tbody>
                </table>
                <div class="editBtn text-end">
                    <!-- 새글 등록시 -->
                    <button type="submit" class="btn btn-primary">등록</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/admin/customer/qnaList'">목록</button>
                </div>
                </form>
            </div>
        </main>
    </div>
</div>
<th:block th:replace="~{/admin/common/foot.html}"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/project/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="/project/js/datatables-simple-demo.js"></script>
</body>
</html>