<section class="bl_sideMenu">
    <h2><a class="bl_sideMenu__head hp_pointColor" href="/user/customer/main">고객센터</a></h2>
    <ul class="bl_sideMenu__cont hp_mt20">
        <li class=""><a class="" href="/user/customer/noticeList">공지사항</a></li>
        <li class=""><a class="" href="/user/customer/qnaList">자주 묻는 질문</a></li>
        <li class=""><a class="" href="/user/customer/askRegist">1:1 문의하기</a></li>
        <li class=""><a class="" href="/user/customer/askList">1:1 문의내역</a></li>
    </ul>
</section>