<footer class="bl_foot">
    <div class="bl_foot__wrap ly_maxWD ly_spaceBetween ly_inner01">
        <div class="bl_foot__infoL">
            <h1 class="hp_fs26 hp_0Color">고객센터 070-1234-5678</h1>
            <p class="hp_mt10">AM10:00 - PM5:00 LUNCH PM12:00 - PM1:30 SAT/SUN/HOLIDAY OFF</p>
            <dl class="hp_mt50 bl_foot__infoLCont">
                <dt class="hp_fs20 hp_0Color hp_mb15">COMPANY</dt>
                <dd>도시락 / 대표이사 홍길동 / 개인정보보호책임자 도시락 관리자 / 사업자등록번호 123-45-67890</dd>
                <dd>통신판매신고번호 제 2024-서울중구-1234호</dd>
                <dd>대표전화 070-1234-5678 / 대표메일 dosirak@himedia.com</dd>
                <dd>주소 서울특별시 종로구 인사동길 12 대일빌딩 15층</dd>
            </dl>
        </div>
        <div class="bl_foot__infoR ly_spaceBetween ly_fdirecCol">
            <ul class="ly_flexEnd">
                <li><a href="/user/join/agreeUse">이용약관</a></li>
                <li class="hp_ml35"><a href="/user/join/agreeInfo">개인정보처리방침</a></li>
            </ul>
            <p class="hp_fs13 hp_7Color">COPYRIGHT ©도시락 ALL RIGHTS RESERVED.</p>
        </div>
    </div>
</footer>