.datatable tr td, .datatable tr th{
    color:#212529;
    border: 1px #dee2e6 solid;
    padding: 0.5rem 0.5rem;
    font-size: 14px;
    text-align: left;
}
.datatable tbody tr:hover{
    /*cursor: pointer;*/
    background-color: #F2F2F2;
}
.datatable {
    width: 100%;
}
.set tr td, .set tr th{
    border: 1px black solid
}
.set tr th{
    font-weight: bold;
}